{% extends "base.html" %}


{% block custom_css %}
	<link href="static/css/diagnostics.css" rel="stylesheet" >
{% endblock %}


{% block custom_js %}
	<script src='static/js/diagnostics.js' type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">1. Training Set</h4>
		<span style="color:#6c757d!important; font-size:.725rem">Select a training set to train deep diagnostics model<span>
      </div>
      <div class="card-body">
        <div class="btn-group bootstrap-select">
			<select id="trainingset-list" class="selectpicker" data-size="2" data-style="btn btn-primary" title="Training Set Selection" tabindex="-98"></select>
		</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">2. Execution</h4>
		<span style="color:#6c757d!important; font-size:.725rem">Train the model first, then start evaluation<span>
      </div>
      <div class="card-body">
		<div class="row">
		  <div class="col-md-6"><button id="run-training" class="btn btn-warning disabled" onClick="runTraining()" style="width:100%;"> Run Training</button></div>
		  <div class="col-md-6"><button id="start-eval" class="btn btn-warning disabled" onClick="startEval()" style="width:100%;"> Start Evaluation</button></div>
		</div>
      </div>
    </div>
  </div>
</div>

<div id="eval-result" class="row">
	<div class="col-lg-12" style="text-align:center">
		<h4 id="result-placeholder" class="description fadeIn fadeOut" style="margin-top: 20px">There is no result. Run training and Start Evaluation</h4>
	</div>
</div>
{% endblock %}


{% block modal %}

{% endblock %}
