{% extends "base.html" %}


{% block custom_css %}
	<link href="static/css/diagnostics.css" rel="stylesheet" >
{% endblock %}


{% block custom_js %}
	<script src='static/js/diagnostics.js' type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">1. Training Set</h4>
		<span style="color:#6c757d!important; font-size:.725rem">Select a training set to train deep diagnostics model<span>
      </div>
      <div class="card-body">
        <div class="btn-group bootstrap-select">
			<!-- <button id="1" type="button" class="dropdown-toggle bs-placeholder btn btn-primary" data-toggle="dropdown" role="button" title="Single Option">
				<span class="filter-option pull-left">Single Option</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
			</button>
			<div id="2" class="dropdown-menu open" role="combobox">
				<ul id="trainingset-list" class="dropdown-menu inner" role="listbox" aria-expanded="false">
					<li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Foobar</span><span class="tim-icons icon-check-2 check-mark"></span></a></li>
					<li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Is great</span><span class="tim-icons icon-check-2 check-mark"></span></a></li>
				</ul>
			</div> -->
			<select id="trainingset-list" class="selectpicker" data-size="2" data-style="btn btn-primary" title="Training Set Selection" tabindex="-98"></select>
		</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">2. Execution</h4>
		<span style="color:#6c757d!important; font-size:.725rem">Train the model first, then start evaluation<span>
      </div>
      <div class="card-body">
		<div class="row">
		  <div class="col-md-6"><button id="run-training" class="btn btn-warning disabled" onClick="runTraining()" style="width:100%;"> Run Training</button></div>
		  <div class="col-md-6"><button id="start-eval" class="btn btn-warning disabled" style="width:100%;"> Start Evaluation</button></div>
		</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6">
	  <div class="card card-pricing card-warning card-white"> <!-- card-raised -->
	    <div class="card-body">
	      <h1 class="card-title">Safe</h1>
	      <ul class="list-group">
	        <li class="list-group-item">200 messages</li>
	        <li class="list-group-item">130 emails</li>
	        <li class="list-group-item">24/7 Support</li>
	      </ul>
		  <img src="static/data/image_ori/20171015-DJI-P4P-GSPro-Test-03_L_24.jpg">
	      <div class="card-prices">
	        <h3 class="text-on-front">
	          <span>STATE</span> 1</h3>
	        <h5 class="text-on-back">1</h5>
	        <p class="plan">20171015-DJI-P4P-GSPro-Test-03_L_24</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-lg-3 col-md-6">
	  <div class="card card-pricing card-warning card-white"> <!-- card-raised -->
	    <div class="card-body">
	      <h1 class="card-title">Safe</h1>
	      <ul class="list-group">
	        <li class="list-group-item">200 messages</li>
	        <li class="list-group-item">130 emails</li>
	        <li class="list-group-item">24/7 Support</li>
	      </ul>
		  <img src="static/data/image_ori/20171015-DJI-P4P-GSPro-Test-03_T_36.jpg">
	      <div class="card-prices">
	        <h3 class="text-on-front">
	          <span>STATE</span> 1</h3>
	        <h5 class="text-on-back">1</h5>
	        <p class="plan">20171015-DJI-P4P-GSPro-Test-03_L_24</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-lg-3 col-md-6">
	  <div class="card card-pricing card-warning card-white"> <!-- card-raised -->
	    <div class="card-body">
	      <h1 class="card-title">Safe</h1>
	      <ul class="list-group">
	        <li class="list-group-item">200 messages</li>
	        <li class="list-group-item">130 emails</li>
	        <li class="list-group-item">24/7 Support</li>
	      </ul>
		  <img src="static/data/image_ori/20171015-DJI-P4P-GSPro-Test-02_I_17.jpg">
	      <div class="card-prices">
	        <h3 class="text-on-front">
	          <span>STATE</span> 1</h3>
	        <h5 class="text-on-back">1</h5>
	        <p class="plan">20171015-DJI-P4P-GSPro-Test-03_L_24</p>
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}


{% block modal %}

{% endblock %}
