{% extends "base.html" %}


{% block custom_css %}
	<link href="static/css/itemoptimizer.css" rel="stylesheet" >
{% endblock %}


{% block custom_js %}
	<script src='static/js/itemoptimizer.js' type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Prognostics Model</h4>
		<span style="color:#6c757d!important; font-size:.725rem">Select a prognostics model for each maintenance level<span>
      </div>
      <div class="card-body">
        <form class="form-horizontal">
          <div class="row">
            <label class="col-md-3 col-form-label">No Maintenance</label>
            <div class="col-md-9">
				<div class="btn-group bootstrap-select">
					<button type="button" class="dropdown-toggle bs-placeholder btn btn-primary" data-toggle="dropdown" role="button" title="Single Option">
						<span class="filter-option pull-left">Single Option</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
					</button>
					<div class="dropdown-menu open" role="combobox">
						<ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
							<li data-original-index="1" class="disabled selected"><a tabindex="-1" class="" data-tokens="null" role="option" href="#" aria-disabled="true" aria-selected="true"><span class="text">Single Option</span><span class="tim-icons icon-check-2 check-mark"></span></a></li>
							<li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Foobar</span><span class="tim-icons icon-check-2 check-mark"></span></a></li>
							<li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Is great</span><span class="tim-icons icon-check-2 check-mark"></span></a></li>
						</ul>
					</div>
				</div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-3 col-form-label">Partial Maintenance</label>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" autocomplete="off" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-3 col-form-label">Reconstruction</label>
            <div class="col-md-9">
              <div class="form-group">
                <input type="password" autocomplete="off" class="form-control">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Prognostics Cost</h4>
		<span style="color:#6c757d!important; font-size:.725rem">Write down the cost incurred for each maintenance level<span>
      </div>
      <div class="card-body">
        <form class="form-horizontal">
          <div class="row">
            <label class="col-md-3 col-form-label">No Maintenance</label>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" autocomplete="off" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-3 col-form-label">Partial Maintenance</label>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" autocomplete="off" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-3 col-form-label">Reconstruction</label>
            <div class="col-md-9">
              <div class="form-group">
                <input type="password" autocomplete="off" class="form-control">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-12">
	  <div class="card">
	    <div class="card-header">
	        <h4 class="card-title">Optimizer Configuration</h4>
			<span class="form-text" style="color:#6c757d!important; font-size:.725rem">Write down intended maintenance period and expected user cost for each road state</span>
			<!-- <button class="btn btn-info" style="position:absolute; top: 15px; right:30px"> Item Optimize</button> -->
		</div>
	    <div class="card-body">
		  <form class="form-horizontal">
			<div class="row">
				<label class="col-lg-2 col-form-label">Maintenance Period</label>
	            <div class="col-lg-10">
	              <div class="form-group">
	                <input type="text" autocomplete="off" class="form-control">
	              </div>
	            </div>
			</div>
			<!-- <div class="row">
				<label class="col-lg-2 col-form-label">Maintenance Budget</label>
	            <div class="col-lg-10">
	              <div class="form-group">
	                <input type="text" autocomplete="off" class="form-control">
	              </div>
	            </div>
			</div> -->
			<div class="row">
		      <label class="col-lg-2 col-form-label">User cost</label>
	          <div class="col-lg-1">
	            <div class="form-group">
	              <input type="text" autocomplete="off" class="form-control" placeholder="State1">
	            </div>
	          </div>
	          <div class="col-lg-1">
	            <div class="form-group">
	              <input type="text" autocomplete="off" class="form-control" placeholder="State2">
	            </div>
	          </div>
	          <div class="col-lg-1">
	            <div class="form-group">
	              <input type="text" autocomplete="off" class="form-control" placeholder="State3">
	            </div>
	          </div>
	          <div class="col-lg-1">
	            <div class="form-group">
	              <input type="text" autocomplete="off" class="form-control" placeholder="State4">
	            </div>
	          </div>
	          <div class="col-lg-1">
	            <div class="form-group">
	              <input type="text" autocomplete="off" class="form-control" placeholder="State5">
	            </div>
	          </div>
	          <div class="col-lg-1">
	            <div class="form-group">
	              <input type="text" autocomplete="off" class="form-control" placeholder="State6">
	            </div>
	          </div>
	          <div class="col-lg-1">
	            <div class="form-group">
	              <input type="text" autocomplete="off" class="form-control" placeholder="State7">
	            </div>
	          </div>
	          <div class="col-lg-1">
	            <div class="form-group">
	              <input type="text" autocomplete="off" class="form-control" placeholder="State8">
	            </div>
	          </div>
	          <div class="col-lg-1">
	            <div class="form-group">
	              <input type="text" autocomplete="off" class="form-control" placeholder="State9">
	            </div>
	          </div>
	          <div class="col-lg-1">
	            <div class="form-group">
	              <input type="text" autocomplete="off" class="form-control" placeholder="State10">
	            </div>
	          </div>
		    </div>
		  </form>
		</div>
	  </div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12" style="margin-bottom: 30px">
		<button class="btn btn-warning btn-simple btn-round" style="width:100%"> Item Optimize</button>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
	 <div class="card">
		<div class="card-body">
	   <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4">
			  <div class="row">
				 <div class="col-sm-12">
					<table id="datatable" class="table dataTable dtr-inline" role="grid" aria-describedby="datatable_info" style="">
					   <thead>
						  <tr role="row">
							 <th aria-controls="datatable" rowspan="1" colspan="1" width="15px">#</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1" width="100px">Image</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1" width="20%">Name</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1">State</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1">Action</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1">Action Cost</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1">Total Cost</th>
						  </tr>
					   </thead>
					   <tbody>
					   </tbody>
					</table>
				 </div>
			  </div>
		   </div>
		</div>
	 </div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
	  <div class="card">
	    <div class="card-header">
	        <h4 class="card-title">System Optimizer</h4>
			<span class="form-text" style="color:#6c757d!important; font-size:.725rem">Write down secured maintenance budget and optimize prognostics system</span>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal">
						<div class="row">
							<label class="col-md-2 col-form-label">No Maintenance</label>
							<div class="col-md-10">
							  <div class="form-group">
								<input type="text" autocomplete="off" class="form-control">
							  </div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	  </div>
  </div>
</div>

<div class="row">
	<div class="col-lg-12" style="margin-bottom: 30px">
		<button class="btn btn-warning btn-simple btn-round" style="width:100%"> System Optimize</button>
	</div>
</div>


<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 id="summary-title" class="card-category">Life Cycle Cost - Image Optimizer</h5>
        <h3 class="card-title"><i class="tim-icons icon-coins text-primary"></i>
			<span id="summary-count" style="font-weight: 500">47,000,000</span> ₩</h3>
      </div>
      <div class="card-body">
		  <div class="table-full-width table-responsive">
  		  <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4">
  		     <div class="row">
  		  	  <div class="col-sm-12" style='padding-left:30px'>
  		  		 <table id="datatable" class="table dataTable dtr-inline" role="grid" aria-describedby="datatable_info" style="">
  		  			<thead>
  		  			   <tr role="row">
  		  				  <th aria-controls="datatable" rowspan="1" colspan="1" width="15px">#</th>
  		  				  <th aria-controls="datatable" rowspan="1" colspan="1">Action</th>
  		  				  <th aria-controls="datatable" rowspan="1" colspan="1">Action Cost</th>
  		  			   </tr>
  		  			</thead>
  		  			<tbody>
  		  			</tbody>
  		  		 </table>
  		  	  </div>
  		     </div>
  		  </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 id="summary-title" class="card-category">Life Cycle Cost - System Optimizer</h5>
        <h3 class="card-title"><i class="tim-icons icon-coins text-info"></i>
			<span id="summary-count" style="font-weight: 500">47,000,000</span> ₩</h3>
      </div>
      <div class="card-body">
		  <div class="table-full-width table-responsive">
  		  <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4">
  		     <div class="row">
  		  	  <div class="col-sm-12" style='padding-left:30px'>
  		  		 <table id="datatable" class="table dataTable dtr-inline" role="grid" aria-describedby="datatable_info" style="">
  		  			<thead>
  		  			   <tr role="row">
  		  				  <th aria-controls="datatable" rowspan="1" colspan="1" width="15px">#</th>
  		  				  <th aria-controls="datatable" rowspan="1" colspan="1">Action</th>
  		  				  <th aria-controls="datatable" rowspan="1" colspan="1">Action Cost</th>
  		  			   </tr>
  		  			</thead>
  		  			<tbody>
  		  			</tbody>
  		  		 </table>
  		  	  </div>
  		     </div>
  		  </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 id="summary-title" class="card-category">trainingset</h5>
        <h3 class="card-title"><i class="tim-icons icon-refresh-01 text-success"></i>
			<span id="summary-count" style="font-weight: 500">15</span>  Ephoces</h3>
      </div>
      <div class="card-body">
        <div class="chart-area"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <canvas id="label-chart" width="794" height="440" class="chartjs-render-monitor" style="display: block; height: 220px; width: 397px;"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}


{% block modal %}

{% endblock %}
