{% extends "base.html" %}


{% block custom_css %}
	<link href="static/css/trainingsetmanager.css" rel="stylesheet" >
{% endblock %}


{% block custom_js %}
	<script src='static/js/trainingsetmanager.js' type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
	  <div class="card-header">
        <h4 class="card-title">Deep Diagnostics Training Sets</h4>
        <p class="card-category">select set or create new one</p>
  		<button type="button" class="btn btn-link btn-icon btn-neutral" data-toggle="modal" data-target="#createModal" style="position:absolute; top:15px; right:15px;">
			<i class="tim-icons icon-simple-add text-info"></i>
  		</button>
      </div>
      <div class="card-body">
        <div class="table-full-width table-responsive">
		  <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4">
		     <div class="row">
		  	  <div class="col-sm-12" style='padding-left:30px'>
		  		 <table id="datatable" class="table dataTable dtr-inline" role="grid" aria-describedby="datatable_info" style="">
		  			<thead>
		  			   <tr role="row">
		  				  <th aria-controls="datatable" rowspan="1" colspan="1" width="15px">#</th>
		  				  <th aria-controls="datatable" rowspan="1" colspan="1">Name</th>
		  				  <th aria-controls="datatable" rowspan="1" colspan="1" width="30%">Labels</th>
		  			   </tr>
		  			</thead>
		  			<tbody>
		  			</tbody>
		  		 </table>
		  	  </div>
		     </div>

		  </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 id="summary-title" class="card-category">trainingset</h5>
        <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-info"></i>
			<span id="summary-count" style="font-weight: 500">0</span>  Labels</h3>
      </div>
      <div class="card-body">
        <div class="chart-area"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <canvas id="label-chart" width="794" height="440" class="chartjs-render-monitor" style="display: block; height: 220px; width: 397px;"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
	 <div class="card">
		<div class="card-body">
	   <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4">
			  <div class="row">
				 <div class="col-sm-12 col-md-6">
					<div class="dataTables_length" id="datatable_length">
					   <label>
						  Show
						  <select name="datatable_length" aria-controls="datatable" class="custom-select custom-select-sm form-control form-control-sm">
							 <option value="5">5</option>
							 <option value="10">10</option>
							 <option value="25">25</option>
							 <option value="50">50</option>
							 <option value="-1">All</option>
						  </select>
						  entries
					   </label>
					</div>
				 </div>
				 <div class="col-sm-12 col-md-6" style="text-align: right">
					 <button id="addImageButton" type="button" class="btn btn-link btn-icon btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
					   <i class="tim-icons icon-simple-add text-info"></i>
					 </button>
				 </div>
			  </div>
			  <div class="row">
				 <div class="col-sm-12">
					<table id="datatable2" class="table table-striped dataTable dtr-inline" role="grid" aria-describedby="datatable_info" style="">
					   <thead>
						  <tr role="row">
							 <th aria-controls="datatable" rowspan="1" colspan="1" width="15px">#</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1" width="100px">Image</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1" width="20%">Name</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1">Route</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1">Section</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1">Platform</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1">Date</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1">State</th>
							 <th aria-controls="datatable" rowspan="1" colspan="1" width="20px"> </th>
						  </tr>
					   </thead>
					   <tbody>
					   </tbody>
					</table>
				 </div>
			  </div>
		   </div>
		</div>
		<!-- end content-->
	 </div>
	 <!--  end card  -->
  </div>
</div>
{% endblock %}


{% block modal %}
<!-- Modal -->
<div class="modal modal-search fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <input type="text" class="form-control" id="createModalInput" placeholder="name" style="padding-right:100px">
        <button type="button" class="close" id="createModalButton" data-dismiss="modal" aria-label="create">
          <i class="tim-icons icon-simple-add"></i>
		  Create
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content white-content">
            <div class="modal-header">
                <button type="button" class="close btn btn-danger btn-link " data-dismiss="modal">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
                <h3 class="modal-title">Add New Image</h4>
            </div>
            <div class="modal-body">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                   <div class="row">
                      <div class="col-sm-12">
                         <table id="datatable3" class="table dataTable dtr-inline" role="grid" aria-describedby="datatable_info" style="">
                            <thead class='col-sm-12'>
                               <tr role="row">
                                  <th aria-controls="datatable3" rowspan="1" colspan="1">Image</th>
                                  <th aria-controls="datatable3" rowspan="1" colspan="1">Name</th>
                                  <th aria-controls="datatable3" rowspan="1" colspan="1">Route</th>
                                  <th aria-controls="datatable3" rowspan="1" colspan="1">Section</th>
                                  <th aria-controls="datatable3" rowspan="1" colspan="1">Platform</th>
                                  <th aria-controls="datatable3" rowspan="1" colspan="1">Date</th>
                                  <th aria-controls="datatable3" rowspan="1" colspan="1">State</th>
                                  <th aria-controls="datatable3" rowspan="1" colspan="1"> </th>
                               </tr>
                            </thead>
                            <tbody>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
